
.ant-menu-item-selected {
  background: #e0e4e4 !important;
}
.ant-menu-item{
  color: #08A262 !important;
}
.ant-menu{
  border: none !important;
}

/* .ant-menu-dark .ant-menu-overflow-item-rest {
  background-color: #11424c8b !important;
} */

.custom-label .ant-form-item-label>label {
  color: #00993D !important;
  font-size: 18px !important;
}


.custom-radio .ant-radio-inner {
  border-color: #08A262 !important;
  /* Color del borde del radio button */
}

.custom-radio .ant-radio-checked .ant-radio-inner {
  border-color: #08A262 !important;
  /* Color del borde cuando está seleccionado */
}

.custom-radio .ant-radio-inner::after {
  background-color: #fff;
  /* Color del círculo interior */
}


.custom-radio .ant-radio-wrapper {
  font-size: 1.25rem;
  /* Tamaño de la fuente del radio button */
}


@media (min-width: 750px) {
  .custom-tab .ant-tabs-tab-btn {
    font-size: 30px;
  }
}